body{
	background: url(../img/background.jpg) no-repeat center center fixed; 
	background-size: cover;
}

.container{
	width: 600px;
	margin-top: 80px;
}

.content{
	color: white;
	text-align: center;
}